@charset "utf-8";

.header {
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  background: linear-gradient(to right, #f08e8e, #f08e80);
  padding-left: 12px;
  position: fixed;
  z-index: 1000;
}

.headerElementArea {
  display: flex;
  align-items: center;
  gap: 24px;
  height: 80px;
  flex: 7;
}

.headerIconArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 12px;
}

.headerFactorArea {
  display: flex;
  gap: 32px;
  margin: 0;
  padding: 0;
}

.headerText {
  color: white;
  font-weight: bold;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.headerText:hover {
  cursor: pointer;
  color: #444654;
  transition: 0.2s;
}

.appIcon {
  width: 56px;
  height: 56px;
  border-radius: 28px;
  margin-top: 4px;
}

.appTitleLink {
  display: block;
  text-decoration: none;
  height: 75%;
}

.headerAppTitle {
  font-family: "Dancing Script";
  font-size: 16px;
  font-weight: bold;
  color: rgb(247, 239, 239);
  margin: 0;
  text-decoration: none;
}

.headerAppTitle:hover {
  cursor: pointer;
}

.headerUserArea {
  display: flex;
  justify-content: right;
  flex: 3;
  gap: 24px;
  padding-right: 32px;
}

.userName {
  color: rgb(24, 11, 83);
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.logoutButton {
  background: none;
  border: none;
  font-size: 16px;
  color: rgb(237, 228, 228);
  border-radius: 4px;
  cursor: pointer;
}

.logoutButton:hover {
  transition: 0.2s;
  color: #444654;
}
