@charset "utf-8";

.calendarArea {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  min-width: 90%;
}

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex: 4;
}

.event {
  width: 100%;
  flex: 3;
}
