@charset "utf-8";

/* main area */
.mainContentsArea {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* calendar */
.calendarArea {
    min-width: 60%;
    min-height: 600px;
    border: 2px solid #000;
}
