@charset "utf-8";

/* app */
.app {
  background-color: rgba(254, 250, 254, 0.989);
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

li {
  list-style: none;
}

.flex {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
}

body {
  margin: 0;
}

/* calendar */
.fc .fc-toolbar.fc-header-toolbar {
  padding: 8px 16px;
  background-color: rgb(35, 34, 32);
  margin: 0;
  color: rgb(218, 178, 155);
  font-family: dancing script;
}

.fc {
  width: 100%;
  min-height: 95%;
  border: 2px solid #000;
  overflow: hidden;
}

.fc-day-sat {
  background-color: #cce3f6;
  opacity: 0.7;
}
.fc-day-sun {
  background-color: #f4d0df;
  opacity: 0.8;
}

.fc-col-header-cell-cushion,
.fc-daygrid-day-number,
.fc-daygrid-day-top {
  color: #333;
}

.fc-toolbar-chunk {
  color: #e1e3e4;
  font-weight: bold;
}

.fc .fc-daygrid-day-top {
  display: flex;
  flex-direction: row;
}

.fc .fc-button:disabled {
  opacity: 1;
}

/* media responsive */
@media screen and (max-width: 768px) {
  .fc {
    border: none;
    height: 65vh;
  }
  .fc .fc-daygrid-day-number {
    padding: 2px;
    font-size: 12px;
  }
  .fc-daygrid-block-event .fc-event-time,
  .fc-daygrid-block-event .fc-event-title {
    font-size: 0.8em;
  }
  .fc .fc-daygrid-body-balanced .fc-daygrid-day-events {
    top: 24px;
  }
  .fc .fc-daygrid-event {
    margin: 0;
  }
  .fc .fc-media-screen .fc-direction-ltr .fc-theme-standard {
    min-height: 80vh;
  }
}
