@charset "utf-8";

/* app */
.app {
    background-color: rgba(0, 0, 0, 0.89);
    height: 100vh;
}

li {
    list-style: none;
}

.flex {
    display: flex;
    align-items: center;
}

.link {
    text-decoration: none;
}

/* calendar */
.fc {
    /* max-height: 700px; */
    height: 100%;
    width: 80%;
}

.fc-day-sat {
    background-color: #cce3f6;
    opacity: 0.7;
}
.fc-day-sun {
    background-color: #f4d0df;
    opacity: 0.8;
}

.fc-col-header-cell-cushion,
.fc-daygrid-day-number,
.fc-daygrid-day-top {
    color: #333;
}
