@charset "utf-8";

.calendarArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
  min-width: 50%;
  min-height: 600px;
  border: 2px solid #000;
}

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.event {
  width: 100%;
}
