@charset "utf-8";

/* main area */
.mainContentsArea {
  display: flex;
  flex-direction: column;
}

.pageContent {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  min-height: 100vh;
  box-sizing: border-box;
}

/* media responsive */
@media screen and (max-width: 768px) {
  .pageContent {
    min-height: 0;
  }
}
