@charset "utf-8";

/* event area */
.eventArea {
  padding: 0 16px;
}

/* bar area */
.barArea {
  padding: 12px 16px 12px 16px;
  background-color: #88bbd1;
  display: flex;
  justify-content: space-between;
}

.date {
  padding: 4px 0;
}

.addButton {
  background-color: #d7b974;
  padding: 4px 8px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.addButton:hover {
  transition: 0.2s;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

/* event item */
.eventItem {
  display: flex;
  padding: 0 4px;
  border-bottom: rgb(112, 111, 111) 1px solid;
  min-height: 76px;
  cursor: pointer;
}

.eventItem:hover {
  transition: 0.2s;
  box-shadow:
    2px 2px 4px rgba(0, 0, 0, 0.2),
    -2px -2px 4px rgba(0, 0, 0, 0.2);
}

.noEventItem {
  display: flex;
  padding: 0 4px;
  border-bottom: rgb(112, 111, 111) 1px solid;
  min-height: 76px;
}

.timeArea {
  width: 14%;
  margin: 4px 0;
  border-right: #cfbf78 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.time {
  margin: 0;
}

.eventContent {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.eventName {
  font-size: 20px;
  font-weight: bold;
  margin: 4px 0;
}

.eventDescription {
  font-size: 0.8em;
  margin: 0;
  padding: 0;
  color: rgba(79, 78, 78, 0.719);
}
